@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #333;
  color: #eee;
}
form {
  background: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px;
  height: 30px;
}
.main-div {
  position: fixed;
  margin: 3px;
  height: calc(100% - 30px);
  width: 100%;
}
.main-div h3 {
  text-align: center;
}
form #message_name {
  border: 0;
  width: 100px;
  padding: 5px 3px;
  float: left;
}
form button[type="submit"] {
  width: 110px;
  padding: 5px 3px;
  margin-left: 3px;
  background: #82e0ff;
  border: none;
  float: left;
}
form #message_input {
  border: 0;
  width: calc(100% - 220px);
  padding: 5px 3px;
  margin-left: 3px;
  float: left;
}
#messages {
  list-style-type: none;
  width: calc(100% - 150px);
  margin: 0;
  padding: 0;
  float: left;
  border: 1px solid gray;
}
#names {
  list-style-type: none;
  width: 150px;
  margin: 0;
  padding: 0;
  float: left;
  border: 1px solid gray;
}
#messages li,
#names li {
  padding: 5px 10px;
}
.messages-div {
  background-color: #444;
  color: #eee;
  overflow-y: scroll;
  height: calc(100% - 210px);
  min-height: calc(100% - 210px);
  max-height: calc(100% - 210px);
}
.console-div {
  background: #000;
  position: fixed;
  bottom: 25px;
  width: 100%;
  height: 150px;
  max-height: 150px;
  min-height: 150px;
  padding: 3px;
  line-height: 200%;
  color: #eee;
}
.console-div p {
  margin: 0;
  padding: 0;
}
#console-p {
  overflow-y: scroll;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
}
/* 
#messages li:nth-child(odd) {
    background: #eee;
} */
